#main-container {width:100%;margin:0;padding-left:0;padding-right:0;}

/* SIDENAV */
.sidenav {font-size:13px;}
.sidenav .panel {border-style:none;padding-top:0;border-radius:0;background-color:#2d652e;}
.sidenav a {border-bottom-style:none !important;color:#fff;}
.sidenav a:hover, .sidenav .active a:hover {background-color:#2d652e!important;color:#f2f2f2 !important;}
.sidenav a:visited {background-color:#378338!important;}
.sidenav .kv-toggle {background-color:#2d652e!important;color:#fff !important;}
.sidenav .active a {background-color:#2d652e!important;}
.sidenav .nav-stacked li {margin-top:0;padding-left:0;}
.sidenav .nav-stacked > .active > a {color:#fff;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {background-color:#378338!important;color:#fff;}
.sidenav ul {}
.sidenav li a {padding-left:0;}
.sidenav .badge {font-size:10px;}

.sidenav-off .sidenav {display:none;}
.sidenav-off .actionbar > .container {margin-left:0;width:100%;}
.sidenav-off .content {margin-left:0;}

.kv-sidenav li a > span {width:18px;margin-left:15px;}
.kv-sidenav .nav a {padding-left:50px !important;}
.kv-sidenav .nav .nav a {padding-left:68px !important;}
ul.kv-sidenav > li {border-bottom:1px solid #999;}
.nav > li > a {padding-top:17px;padding-bottom:17px;}

/* ACTIONBAR */
.actionbar {top:50px;border-bottom-color:#ddd;padding:5px 15px !important;}
.actionbar > .container {padding:0;margin:0;}
@media (min-width:0px) {
    .actionbar {padding:5px 20px;}
}
@media (max-width:767px) {
    .navbar-header-group {margin-left:15px;}
    .actionbar > .container {margin-left:0;}
    .content {margin-left:0;}
}
@media (min-width:768px) {
    .actionbar > .container {margin-left:260px;width:calc(100% - 260px);}
    .content {margin-left:260px;}
}

/* CUSTOM SCROLL */
.mCSB_draggerContainer {left:10px !important;}
.mCSB_inside > .mCSB_container {margin-right:0 !important;}
